# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include docs/requirements.txt
include LICENSE
include pytest.ini
include tests/mock_module/mappings/records/authorities/notajson
include tests/mock_module/mappings/*/records/authorities/notajson
prune docs/_build
recursive-include docs *.bat *.py *.rst *.png *.dot Makefile
recursive-include examples *.json *.py *.sh *.txt
recursive-include invenio_search *.py
recursive-include tests *.json *.py *.txt
